//Images in dropdowns
img.img-fluid{
    width:70%;
    
}
//Cards 

div.agentCards{
    padding:2%;
    margin:0 auto;
    width:100%;
    display:flex;
    justify-content: flex-start;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    div.card{
      min-width:150px;
      max-width:200px;
      margin:0 auto;
      margin:.5rem .5rem;
    }
  }

//Carousel
div.carousel-width{
    max-width:1000px;
    margin:0 auto;
    margin-top:1rem;
}

//Form Control
form.form-width{
    max-width:60%;
}


// Footer Social Icons

div.social {
    display: flex;
    justify-content: center;
    flex-direction: row;
    margin: 0 auto;
    width: 100%;
    padding-bottom: 50px; 
    div.iconContainer{
        color:$footerTextColor;
        width:20%;
        display:flex;
        justify-content: space-between;
    }
    i.social{
        font-size: 30px;
    }
}
div#input2{
    height:40px;
    form{
        height:40px;
        input#form2{
            -webkit-appearance: none;
            -moz-appearance: none;
            appearance: none;
            border-color:lightgrey !important;
            box-shadow:none !important;
            border-radius:.25rem;
            height:40px;
        }
    }
}
button.subscribe{
    background: lighten($color: $buttonColor, $amount: 20);
    box-shadow: none;
    outline: none;
    color:white;
    border:none;
    border-radius:10px;
    margin-left:1.5% !important;
    font-family: $font;

  }