//CRUISE PAGE CSS

div.cruise-booking-container{
    max-width:100vw;
    img.cruise-booking{
        width:97%;
        margin:0 auto;
    }
    div.cruise-text{
        padding:3%;
        margin-top:20px;
        
        h2.cruise-h2{
            font: $font;
        }
        p.cruise-p{
            font: $font;
        }
        button{
            width:100%;
            border-radius: 8px;
            background:$menuColor;
            color: $menuTextColor;
        }
    }
}


