@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,400;0,700;0,900;1,100&display=swap');

/* small screens media query */

@media only screen and (max-width: 600px) {

figure#logo{
    margin-left:5%;
}

a#telephoneNum{
    font-size: 1rem;
}
button#hamburgerBtn{
    color:white;
    background:rgb(255, 123, 0);
    border:none;
    padding:1rem;
    margin:0;
    i {
        margin-right:10px;
    }
}
#hamburgerBtn span:nth-child(1){
    display:block;
}
#hamburgerBtn span:nth-child(2){
    display:none;
}

#hamburgerBtn.open span:nth-child(1){
    display:none;
}
#hamburgerBtn.open span:nth-child(2){
    display:block;
}
ul#primaryNavigation{
    height:0;
    overflow: hidden;
    background:rgb(255, 123, 0);
    padding-top:0;
    margin-top:0;
    padding-left:0;
    border: solid .5px rgb(173, 84, 0);
}
#primaryNavigation li a{
    text-decoration: none;
    color:white;
    list-style-type: none;
    
    
}
#primaryNavigation ul li {
    list-style: none;
    margin:0;
    padding:5%;
}
li {
    border-bottom: solid .5px rgb(173, 84, 0);

}
#primaryNavigation li {
    padding:5%;
    list-style: none;
}
li a.nestedLI{
    text-decoration: none;
    color:white;
    list-style: none;
    border-bottom:none;
}
li.nested{
    border:none;
}
#primaryNavigation li.parent > a::after{
    content:'\25BC';
    font-size:.5rem;
    color: white;
    float:right;
}
#primaryNavigation li ul {
    display:none;
}
#primaryNavigation li:hover ul{
    display:block;
}

nav#navigation{
    background:rgb(255, 123, 0);
}
}