/* Header Styling */
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,400;0,700;0,900;1,100&display=swap");
body {
  margin: 0 auto;
  box-sizing: border-box; }

header {
  background: #dcf7ff;
  width: 100%; }

div#header {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between; }

img#logo {
  width: 200px; }

header {
  display: flex;
  flex-direction: row; }

a#telephoneNum {
  text-decoration: none;
  color: #277ebe;
  font-size: 1.3rem;
  padding-right: 1rem; }

div.phoneNum {
  display: flex;
  align-items: center;
  font-family: 'Poppins', sans-serif, Helvetica, sans-serif; }

/* Footer Styling  */
footer {
  background: rgba(255, 189, 128, 0.568); }

/* small screens media query */
@media only screen and (max-width: 600px) {
  figure#logo {
    margin-left: 5%; }

  a#telephoneNum {
    font-size: 1rem; }

  #hamburgerBtn span:nth-child(1) {
    display: block; }

  #hamburgerBtn span:nth-child(2) {
    display: none; }

  #hamburgerBtn.open span:nth-child(1) {
    display: none; }

  #hamburgerBtn.open span:nth-child(2) {
    display: block; }

  ul#primaryNavigation {
    height: 0;
    overflow: hidden;
    background: #ff7b00;
    padding: 2%; }

  #primaryNavigation li a {
    text-decoration: none;
    color: white;
    list-style-type: none; }

  #primaryNavigation ul li {
    list-style: none; }

  #primaryNavigation li {
    margin: 5%;
    list-style: none; }

  a.nestedLI {
    text-decoration: none;
    color: white;
    list-style: none; }

  #primaryNavigation li.parent > a::after {
    content: '\25BC';
    font-size: .75rem;
    color: white;
    float: right; }

  #primaryNavigation li ul {
    display: none; }

  #primaryNavigation li:hover ul {
    display: block; } }
/* medium screens media query */
@media only screen and (max-width: 1200px) {
  body {
    background-color: lightblue; }

  ul#primaryNavigation {
    height: auto; } }
