body{
    box-sizing: border-box;
    margin:0 auto;
    background:rgb(255, 253, 246);
}


/* Header Styling */

header{
    background:rgb(220, 247, 255);
    width:100%;
}

div#header{
  width:100%;
  max-width:1200px;
  margin:0 auto;
  display:flex;
  flex-direction: row;
  justify-content: space-between;
}

img#logo{
width:200px;
}

header{
    display:flex;
    flex-direction: row;
}




/* Footer Styling  */

footer{
  background: rgba(255, 189, 128, 0.568);
}

/* medium screens media query */

@media only screen and (max-width: 1200px) {
    body {
      background-color: lightblue;
    }
  }

/* small screens media query */

@media only screen and (max-width: 600px) {

  }