$footerText: rgb(92, 92, 92);
$transparentGrey: rgba(0,0,0,.3);
$red: rgb(8, 135, 194);
$title: #87c2f4;
$white: rgb(53, 53, 53);
$blue: #b6ddff;
$hovercolor: rgba(109, 109, 109, 0.4);
$menuNames: rgb(0, 17, 255);
$menuColor: rgb(8, 135, 194);
$menuTextColor: rgba(255,255,255,0.9);
$socialIcons: rgb(58, 58, 58);
$font: 'Playfair Display', serif;