/* CODE APPLIED TO ALL SIZES */
body{
  margin:0 auto;
  max-width:1200px;
}

/*  apply a natural box layout model to all elements  */
* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }



div#navbarSupportedContent{
  display:flex;
  justify-content: space-between;
}
nav.bg-light{
  background-color:rgb(174, 224, 255) !important;
}
.navbar-nav .nav-link:hover{
  color: orangered !important;
}
.current-menu-item{
  font-weight:700;
}
.btn-outline-success {
  color: $buttonColor !important;
  border-color: $buttonColor !important;
}
h1.pageTitle{
  margin-left:2%;
}

/* BEGINNING OF SMALL MEDIA QUERY */
 
@media only screen and (max-width: 65rem) {
  .wordWrapImage{
    width:98%;
    margin:2%;
  }
  form.form-width{
    padding:2%;
  }

  div.agentCards{
    width:100%;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    div.card{
      min-width:80%;
      margin:0 auto;
      margin:.5rem .5rem;
    }
  }

/* End Mobile Styles */
}
/* End Mobile Styles */