//CRUISE FORM STYLING SMALL

form#cruise-form{
    display:flex;
    flex-direction: column;
    padding:20px;
    font-family:$font;
    label{
    margin:10px 0px;
    }
    input{
        padding:10px;
    }
    button{
        margin:20px 0;
        color:$white;
        background:$menuColor;
        border-radius: 8px;
        padding:10px;
        font-family: $font;
    }
}
h1#booking-h1{
    margin-left:20px;
    margin-top:50px;
}

