/* Header Rules */

header {
    margin:0 auto;
    background-color: lighten($color: $menuColor, $amount: 50);
    display:flex;
    flex-direction: column;
    max-width: 1200px;
    height:5rem;
    width:100%;
  }
  div#logo.logo{
    width:100%;
  }
  figure#logo2{
    width:100%;
    padding-bottom:20%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin:0 auto;
  
  }
  img#logo3{
    margin-top:1vh;
    width:50%;
    max-width:150px;
  }
  header p {
    text-align: center;
    color: $menuColor;
    font-size: 1.2rem;
  }
  a#telephoneNum{
    visibility: hidden;
    border-collapse: collapse;
  }
  picture.featuredImage img{
    opacity: 75%;
  }
  picture.featuredImage img:hover{
    opacity: 100%;
  }
  div#input button.subscribe:active{
    background: $menuNames;
  }
  a.addressLink{
    text-decoration: none;
    color:black;
  }