//AGENT STYLING FOR MEDIUM SCREENS 

main{
    margin:1%;
}
h1.agent-name{
    font-family: $font;
    color:$h1Color;
    font-size:1.8rem;
    margin-left:10px;
    margin-top:2rem;
}
h2.agent-info-heading{
    font-family: $font;
    color:$footerText;
    font-size:1.2rem;
}
p.customer-name{
    font-family: $font;
    color:$footerText;
    font-weight: 700;
}
figure.agent-photo{
    max-width:100vw;
    margin:20px;
    width:50%;
    float: right;
    img#agent-joanna{
        width:100%;
    }
}
div.agent-text{
    margin:10px;
}
div.agent-customer-reviews{
    margin-bottom:3rem;
}

div#text-wrap-content{
    float:top;
    max-width:100%;
}
div.agent-biography{
    margin-top:0%;
}
