// FOOTER STYLING FOR LARGE SCREENS

footer div#footerContainer{
    display:grid;
    grid-template-columns: auto auto 33%;
    grid-template-rows: auto;
}
footer div#footerContainer div.address{
    grid-column: 1 / 2;
    grid-row: 1;
}
div.newsletter{
    grid-column: 2 / 3;
    grid-row: 1;
    width:25rem;
    display:flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-left:1rem;
}
div#input{
  padding-left:3%;
}
div.why{
    grid-column: 3 / 4;
    grid-row: 1;
}
footer{
    background: lighten($color:$menuColor, $amount: 50);
    margin-top:2rem;
  }
  footer h2{
    color: $footerText;
    margin:0;
    padding-top:2rem;
    margin-left:5%;
    font-family: $font;
    font-size:1.2rem;
  
  }
  footer p.copyright{
    text-align: center;
    padding-top:2rem;
    margin-bottom:0;
    padding-bottom:1rem;
    font-family: $font;
    font-size:1rem;
  
  }
  p#cabotText{
      margin-right:20px;
  }
  p.footerText{
    font-size:.8rem;
    padding:2%;
    margin:0;
    margin-left:3%;
    font-family: $font;
  }
  div#input2{
    display:flex;
    justify-content: flex-start;
    margin-left:3%;
    padding-left:.5%;
    margin-top:10px;
    #form2{
      height:2rem;
    }
    button{
        background:$menuColor;
        color:$menuTextColor;
        margin-left:5%;
    }

}