//HEADER SMALL SCREENS STYLING

//header-margin-top
header{
  margin-top:2.5vh;
  padding-top:2vh;
  padding-bottom:1vh;
}


// places the navigation bar at the top of the page
nav {
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 4rem;
    background-color: $menuColor;
    display:flex;
}

//Styles the clickable hamburger button
#hamburgerBtn:focus {
outline: none;
box-shadow: none;
}
#hamburgerBtn {
margin-left:2%;
margin-right:0;
padding-top:0;
display: flex;
height: 2.75rem;
background: none;
color: $menuTextColor;
border: 0 none;
font-size: 1.3rem;
font-weight: normal;
text-align: left;
//used to enlarge an entity to match any words that may also be used, like OPEN
    i {font-size: 3rem; font-style: normal;margin-right:10%;padding-bottom:10%;}
    span {
      width:150%;
      display:flex;
      flex-direction: row;
      align-items: center;
    }
    .openClose{
      margin:0;
      margin-left:10px;
      width:40%;
      font-family: $font;

    }
    
}

// These lines show and hide the two alternate icons for the open and close hamburger
#hamburgerBtn.open span:nth-child(1) {
display: block;
width:100%;
display:flex;
flex-direction: row;
align-items: center;
z-index: 1;
}
#hamburgerBtn.open span:nth-child(2) {display: none;}
#hamburgerBtn span:nth-child(1) {display: none;}
#hamburgerBtn span:nth-child(2) {
display: block;
width:100%;
display:flex;
flex-direction: row;
align-items: center;
z-index: 1;
}


nav#nav{
display:flex;
flex-direction: column;
z-index: 1;
}
// unordered list Navigation Bar --------------------------------------------------------
#primaryNav {
height: 0; //hides the nav links 
overflow: hidden;
width: 100%;
background-color: $menuColor;
margin: 0;
padding: 0;
z-index: 998; // places the links above the page content
font-family: Verdana;
font-weight: normal;
}

// if the site has a class of active added to any list itme then it is darkened for "Wayfinding"
#primaryNav li.current-menu-item a {background-color: rgba(0,0,0,0.25);}

// if the site has a class of parent added lighten for "Wayfinding" 
#primaryNav li.parent a{background-color: rgba(255, 255, 255, 0.15);}

// style the anchors
#primaryNav li a {
display: block; // shows the nav links
width: 100%;
padding: 1rem 2vw;
font-size: 14px;
text-shadow: -1px -1px 0 rgba(0,0,0,.15);
color: $menuTextColor;
text-decoration: none;
border-top: 1px solid rgba(0,0,0,.2);
}

// when hovering over any menu item or sub menu item darken by 5%
#primaryNav li a:hover {
background-color: rgba(255, 255, 255, 0.5);
}

// Toggle the navigation bar to expand down when the javascript assigns the "open" class
#primaryNav.menu.open {height: auto; z-index: 998;position:absolute;margin-top:0%;}

// .parent class indicates dropdown by adding a down arrow to the parent list item 
#primaryNav li.parent > a::after {
font-size: .75rem;
content: "\25BC";
color: rgba(255,255,255,.5);
float: right;
padding-left:.5rem;
padding-top:.2rem;
}

//hide the sub menu unordered list by default
#primaryNav li ul {
display: none;
background: rgba(73, 73, 73, 0.829);
color:white;
padding: 0;
margin: 0 ;
}

// styles the sub menu anchors just a bit
#primaryNav li ul a {
padding-left: 20px;
}

//display the sub menu unordered list on touch or hover
#primaryNav li:hover ul {display: block;}

// style the sub menu items
#primaryNav ul.nestedul li {
padding:1rem;
}

div#mobileBar{
display:flex;
flex-direction: row;
}
//search bar in nav
div.search{
display:flex;
flex-direction: row;
padding-top:3.8%;
padding-left:10%;
margin-left:10%;
margin-right:4%;
width:100%;
form{
  width:100%;
  input#form1{
    width:100%;
    height:2rem;
  }
}
input.search{
  height:2rem;
}
}