//Homepage Image
.wordWrapImage{
    position: relative;
    float:left;
    max-width:900px;
    margin:25px;
  }

//Cards 

div.agentCards{
    width:100%;
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    div.card{
      min-width:150px;
      max-width:200px;
      margin:0 auto;
      margin:.5rem .5rem;
    }
  }

//Form Control
form.form-width{
    max-width:60%;
    margin-left:2%;
}
form div.first-last{
    display:flex;
}
form div.first-last div.first-name-div{
    margin-right:2rem;
}

//Footer Social Icons

div.social {
    display: flex;
    justify-content: center;
    flex-direction: row;
    margin: 0 auto;
    width: 100%;
    padding-bottom: 50px; 
    div.iconContainer{
        color:$footerTextColor;
        width:20%;
        display:flex;
        justify-content: space-between;
    }
    i.social{
        font-size: 25px;
    }
}
div#input2{
    height:35px;
    form{
        height:35px;
        input#form2{
            -webkit-appearance: none;
            -moz-appearance: none;
            appearance: none;
            border-color:lightgrey !important;
            box-shadow:none !important;
            border-radius:.25rem;
            height:35px;
        }
    }
}
button.subscribe{
    background: lighten($color: $buttonColor, $amount: 20);
    box-shadow: none;
    outline: none;
    color:white;
    border:none;
    border-radius:10px;
    margin-left:1.5% !important;
    font-family: $font;

  }

  //contact form 
  #wpcf7-f44-p32-o1 > form {
      padding-left:20px;
  }
  #glsr_5daf8432 > div > div {
    padding:3%;
    border:$footerTextColor 1px solid;
  }
  #review-105 > div.glsr-review-rating {
    margin:10px 0px;
    color:green;
}
div.glsr-review-date {
    font-size:small;
    margin-bottom:1rem;
}
div.glsr-review-title {
    margin-top:2rem;
}
div.glsr-review-rating {
  margin:10px 0px;
  color:green;
}
#glsr_20466c9f {
    width:96%;
    padding:2%;
    background: rgb(237, 243, 255);
}